**
!Dockerfile
!Dockerfile.init
!global.json
!NuGet.Config
!Directory.Build.props
!Directory.Packages.props
!src/
!src/Bullgate.Access.Api/
!src/Bullgate.Access.Api/**
!src/Bullgate.Access.Application/
!src/Bullgate.Access.Application/**
!src/Bullgate.Access.Infrastructure/
!src/Bullgate.Access.Infrastructure/**
!src/Bullgate.Access.Domain/
!src/Bullgate.Access.Domain/**
!src/Bullgate.Access.Cli/
!src/Bullgate.Access.Cli/**
!src/Bullgate.Access.Migrations/
!src/Bullgate.Access.Migrations/**
!scripts/
!scripts/compose-api-entrypoint.sh
!scripts/compose-initialize.sh

src/Bullgate.Access.Api/appsettings.Development.json
**/bin/
**/obj/
